button{
    cursor: pointer;
}

#content h2{
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

ol{
    padding-left: 30px;
    margin: 0%;
}

li{
    font-weight: 600;
}