.container {
  margin: 10px 0px;
}

*::selection {
  background-color: rgb(21, 72, 74);
  color: rgb(255, 223, 211);
}

body {
  counter-reset: heading;
}

.container h2 {
  text-align: center;
  text-decoration: underline;
  margin: 10px 0px;
  color: rgb(100, 27, 0);
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container .muted-text {
  text-align: center;
  font-family: monospace;
  font-weight: 600;
  color: teal;
  font-size: 0.9rem;
  color: grey;
  margin-bottom: 10px;
}

/* Area Selection */
.container .option-box {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 10px;
  visibility: hidden;
}

.container .option-box .area-box span {
  margin-right: 5px;
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
}

.container .option-box select {
  outline: none;
  border: 2px solid saddlebrown;
  background-color: transparent;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  cursor: pointer;
  min-width: 20vw;
}


/* Content Box */

details {
  padding: 0px 10px;
  border: 1px solid rgb(255, 250, 244);
  margin: 0px;
  /* background-color: aqua; */
}

details[open] {
  border: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

details p {
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.1rem;
}

details p span {
  font-size: 1rem;
  font-weight: normal;
  /* background-color: aqua; */
  border-bottom: 1px solid salmon;
}

summary {
  counter-increment: heading;
  background-color: rgb(255, 250, 244);
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Baloo Da 2", cursive;
  cursor: pointer;
}

summary:active {
  background-color: rgb(255, 250, 244);
}

summary::marker {
  content: counter(heading) ". ";
  font-size: 1.7rem;
  color: rgb(16, 64, 56);
}

/* For my phone */
@media only screen and (max-width: 600px) {
  .nav-box {
    justify-content: space-evenly;
    gap: 2vw;
  }

  .nav-box li {
    gap: 1vw;
    font-size: 0.9rem;
    font-weight: 700;
  }

  .container h2 {
    letter-spacing: normal;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .container .option-box {
    padding: 0px 10px;
    flex-direction: column;
    gap: 0.5rem;
  }

  .container .option-box .area-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .container .option-box .area-box select {
    width: 100%;
  }

  .container .option-box .area-box span {
    margin-left: 0px;
    margin-right: 5px;
    font-size: 1.2rem;
  }

  .container .option-box select {
    outline: none;
    border: 2px solid saddlebrown;
    padding: 8px 0px;
    margin: 0%;
    font-size: 1rem;
    border-radius: 0.3rem;
    min-width: 50vw;
    width: 100%;
    text-align: center;
  }

  details p {
    margin-left: 10px;
  }

  details {
    margin-left: 0px;
  }

  summary {
    font-size: 1.2rem;
  }

  summary::marker {
    font-size: 1.4rem;
  }

  body {
    padding: 10px 5px;
  }
}
